@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --cor0: #04363D;
    --cor1: #00ff88;
    --cor2: #F4FFFD;
    --cor3: #106b6c;
    --cor4: #011936;
    --cor5: #6E967E;
    --cor6: #33be6b;
    
    --fonte-padrao: 'Source Sans Pro', sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-titulo: 'Dosis', sans-serif;
}

body {
    margin: 0px;
    font-family: var(--fonte-destaque);
}

body * {
    box-sizing: border-box ;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100ch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: var(--cor1);
    font-size: 3vw;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100ch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--cor3);
    border-radius: 15px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: var(--cor1);
    font-weight: bold;
    margin: 0px;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--cor5);
    color: var(--cor6);
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: var(--cor2);
    margin-bottom: 5px;
}

.textfield > input::placeholder {
    color: var(--cor2);
}

.btn-login {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 0px;
    margin:  25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    background: var(--cor1);
    cursor: pointer;
    box-shadow:  0px 10px 40px #00ff8052;
}

.btn-back {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 0px;
    margin:  25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    background: var(--cor1);
    cursor: pointer;
    box-shadow:  0px 10px 40px #00ff8052;
}
a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 80%;
    }
}

@media only screen and (max-width: 600px){
    .main-login {
        flex-direction: column;
    }    
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }
    .left-login-image {
        width: 50vw;
    }
    .card-login {
        width: 90%;
    }
}